<div id='question_pop_up' class='hidden'>
  <%= render 'form' %>
</div>

<ul id='question_area'>
  <% @questions.each do |question| %>
    <%= render 'question', question: question %>
  <% end %>
</ul>