<ul id='question_area'>
  <%= link_to 'Create New Question', new_question_path(@question) %>
  <% @questions.each do |question| %>
    <div class="question_card">
      <li class='question_title'><%= link_to question.title, question_path(question) %></li>
      <p><%= question.body%></p>
    </div>
  <% end %>
</ul>
