@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body {
  background-color:#ecf0f1;
}

#container {
  margin: 0 auto;
  width: 960px;

  nav {
    width: 100%;
    height: 50px;
    background-color: #e67e22;
    box-shadow: 0px 0.5px 8px 0px #999;

    #logo{
      margin: 10px;
      margin-top: 10px;
      color: #FFF;
      font-size: 40px;
      font-family: 'Share Tech', 'Helvetica', Sans-Serif;
      &:hover {
        color: #ecf0f1;
      }
    }
  }

  #question_area {
    margin: 0 auto;
    width: 593px;

    .question_card {
      margin: 10px;
      padding: 5px;
      height: 150px;
      border-radius: 5px;
      background-color:#ddd ;

      .question_title {
        padding: 5px;
        background-color: #c0392b;
        border-radius: 5px;
        list-style-type: none;

        a {
          text-decoration: none;
          font-family: 'TrebuchetMS', 'Verdana', Sans-Serif;
          font-size: 20px;
          color: #FFF;
        }
      }
    }
  }

  form {
    label {
      display: block
    }
    input {
      display: block
    }
  }

}
